@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-clr: #FBFBFB;
    --light-blue: #DDEEFD;
    --accent-teal: #03E5D8;
    --dark-blue: #104279;
    --sansserif-font: "Plus Jakarta Sans", sans-serif;
    --serif-font: "Playfair Display", serif;
}

body {
    background-color: var(--background-clr);
    font-family: var(--sansserif-font);
    margin: 0;
    color: #003049;
}

p {
    font-size: 24px;
    line-height: 180%;
}

h1 {
    font-size: 96px;
    font-weight: 400;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
    color: var(--background-clr);
}
h4 {
    font-size: 24px;
}

em {
    font-family: var(--serif-font);
    font-style: italic;
    font-weight: 500;
}
/* header styles */
header {
    padding: 0px 96px;
    display: flex;
    justify-content: space-between;
    max-height: 215px;
}

#logo-mobile, #mobile-menu-icon {
    display: none;
}

/* contact banner */
#contact-banner {
    background-color: var(--dark-blue);
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    color: var(--light-blue);
}

#contact-banner div a {
    color: var(--light-blue);
}

#resume-btn {
    padding: 29px 53px;
    text-align: center;
    text-decoration: none;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-radius: 17px;
    font-size: 32px;
    font-weight: 600;
    transition: all 500ms 50ms;
}

#resume-btn:hover {
    transition: all 500ms 50ms;
    border: 4px solid var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

#contact-banner h2 {
    text-transform: uppercase;
    font-weight: 200;
    margin: 0;
}

#contact-banner p {
    margin-bottom: 0;
    font-style: italic;
}

/* footer */
footer {
    height: 375px;
    padding: 0px 123px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    font-size: 16px;
    color: var(--dark-blue);
    font-style: italic;
    text-align: center;
}

#footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-col h4 {
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: 400;
    margin: 20px 0px;
}

.footer-col a {
    text-decoration: none;
    color: #656565;
    font-size: 16px;
    font-style: italic;
}


#footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    p {
        font-size: 16px;
    }
    
    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }

    /* header styles */
    #logo-mobile, #mobile-menu-icon {
    display: block;
    }

    #logo, nav, #empty-nav-bubbles {
        display: none;
    }

    header {
        padding: 17px 33px;
        align-items: center;
    }

    #logo-mobile {
        text-decoration: none;
        color: #104279;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }

    #mobile-menu-icon {
        z-index: 3;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 77vw;
        background-color: rgba(16, 66, 121, .7);
        z-index: 2;
        justify-content: center;
        align-items: center;
        top: 0px;
        right: 0px;
    }

    nav ul {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        gap: 44px;
    }

    nav li {
        height: auto;
        width: auto;
        background-color: transparent;
    }

    nav ul li {
        position: static;
    }

    nav a {
        color: white;
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        display: block;
    }

    nav a:active {
        height: auto;
    }
    
    /*contact banner styles*/
    .mobile-stripes {
        height: 36px;
    }
    
    #stripe-one {
        background-color: var(--accent-teal);
    }
    
    #stripe-two {
        background-color: #89B4DC;
    }

    #contact-banner {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 546px;
        padding: 0px 0 0 12%;
        text-align: start;
        gap: 30px;
    }

    #resume-btn {
        font-size: 16px;
        font-weight: 700;
        padding: 24px 52px;
    }

    #contact-banner h2 {
        width: 273px;
    }

    #contact-banner p {
        width: 186px;
    }

    /*footer styles*/
    footer {
        padding: 0px;
        height: 230px;
        gap: 30px;
        justify-content: flex-end;
    }

    .footer-col {
        display: none;
    }
}