@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-clr: #FBFBFB;
    --light-blue: #DDEEFD;
    --accent-teal: #03E5D8;
    --dark-blue: #104279;
    --sansserif-font: "Plus Jakarta Sans", sans-serif;
    --serif-font: "Playfair Display", serif;
}

/* nav */
nav {
    align-self: center;
}

nav ul {
    list-style: none;
    display: flex;;
}

nav a {
    width: 91px;
    height: 91px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--dark-blue);
    margin: -8px;
}

nav li:nth-child(4) a {
    background-color: #4e78a0c9;
    color:white;
}

nav li:nth-child(3) a {
    background-color: #89b4dcc7;
}

nav li:nth-child(2) a {
    background-color: #b2cfe9cb;
}

nav li:nth-child(1) a {
    background-color: #ddeefdc9;
}

/* main styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 186px 0px;
}

#work-title {
    width: fit-content;
    border-bottom: 3px solid #4E79A0;
    margin-bottom: 34px;
}

#work-title h1 {
    margin: 0px;
    font-family: var(--serif-font);
    text-transform: uppercase;
    color: var(--dark-blue);
}

#work-example-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.work-examples {
    background-color: var(--light-blue);
    height: 430px;
    width: 900px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav li {
        background-color: transparent;
        position: static;
        height: 40px;
        width: auto;
    }

    nav a {
        color: white;
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        display: block;
        height: 40px;
        width: auto;
    }

    nav li:nth-child(1) a, nav li:nth-child(2) a, nav li:nth-child(3) a, nav li:nth-child(4) a {
        background-color: transparent;
    }
}